In [1]:
# Fazer a leitura do csv
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html
# https://www.vooo.pro/insights/12-tecnicas-pandas-uteis-em-python-para-manipulacao-de-dados/

# https://stackoverflow.com/questions/17071871/select-rows-from-a-dataframe-based-on-values-in-a-column-in-pandas
# http://scikit-learn.org/stable/user_guide.html

In [98]:
import pandas as pd
df1=pd.read_csv("./sample_convertido.csv")

In [105]:
df1.columns

Index(['﻿complemento.valorTotal', 'dets.nItem', 'dets.prod.indTot',
       'dets.prod.qCom', 'dets.prod.uCom', 'dets.prod.vProd',
       'dets.prod.vUnCom', 'dets.prod.xProd', 'emit.cnpj',
       'emit.enderEmit.fone', 'emit.enderEmit.uf', 'emit.enderEmit.xBairro',
       'emit.enderEmit.xLgr', 'emit.enderEmit.xMun', 'emit.enderEmit.xPais',
       'emit.xFant', 'ide.dhEmi.$date', 'ide.natOp', 'infAdic.infCpl',
       'total.icmsTot.vbc', 'total.icmsTot.vbcst', 'total.icmsTot.vcofins',
       'total.icmsTot.vDesc', 'total.icmsTot.vFrete', 'total.icmsTot.vicms',
       'total.icmsTot.vicmsDeson', 'total.icmsTot.vii', 'total.icmsTot.vipi',
       'total.icmsTot.vnf', 'total.icmsTot.vOutro', 'total.icmsTot.vpis',
       'total.icmsTot.vProd', 'total.icmsTot.vSeg', 'total.icmsTot.vst',
       'total.icmsTot.vTotTrib', 'versaoDocumento'],
      dtype='object')

In [100]:
valores = df1[[0]]

In [101]:
from sklearn import preprocessing
import numpy as np

In [102]:
def printStats(x):
    print("Mean= ", np.mean(x))
    print("Median= ", np.median(x))
    print("Max/Min=", x.max(), " ", x.min())
    print("StdDev=", np.std(x))
    print("90th Percentile", np.percentile(x, 90))

In [103]:
# https://stackoverflow.com/questions/22137723/convert-number-strings-with-commas-in-pandas-dataframe-to-float

import locale
from locale import atof

locale.setlocale(locale.LC_NUMERIC, '')

valores = valores.applymap(atof)

In [104]:
printStats(valores)

Mean=  ﻿complemento.valorTotal    66.903279
dtype: float64
Median=  52.82
Max/Min= ﻿complemento.valorTotal    608.91
dtype: float64   ﻿complemento.valorTotal    9.74
dtype: float64
StdDev= ﻿complemento.valorTotal    53.433176
dtype: float64
90th Percentile 119.95

In [113]:
ddd = df1[[0, 16]]

In [182]:
def myTransform2(x):
    return "{}".format(x).replace(",",".")

In [246]:
ddd = ddd.applymap(myTransform2)

In [248]:
ddd.columns = ["val", "data"]

In [252]:
# https://stackoverflow.com/questions/17134716/convert-dataframe-column-type-from-string-to-datetime

ddd['data'] = ddd['data'].astype('datetime64[ns]')
ddd['val'] = ddd['val'].astype('float')

In [258]:
ddd[ddd['val']>10008]

val    15341.023256
dtype: float64

In [269]:
# https://stackoverflow.com/questions/466345/converting-string-into-datetime

from dateutil import parser
ddd['data'].count()
ddd[ddd['data'] > parser.parse("2016-01-15")].count()

val     1605
data    1605
dtype: int64